.body{
    width: 100%;
    height: 100%;
}
.special{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bolder;
    background: linear-gradient(to right, #5c4ff0, green ,rgb(238, 31, 117),blue, rgb(150,250,160));
    color: transparent;
    -webkit-background-clip: text;
}